<%- include('menu.ejs') %>
<div class="container">
  <h1>Login Page</h1>
  <form action="" method="post">
    <input type="text" placeholder="Email" /><br />
    <input type="text" placeholder="Password" /><br />
    <button type="submit">Submit</button>
  </form>
</div>
